// Colors
$common-color: rgb(23, 23, 24);
$primary-color: rgb(202, 204, 236);

// Special Colors
$green-pastel: rgb(222, 241, 192);
$dark-green-pastel: #d0f1de;

// Table
$table-shadow: rgb(245, 244, 247);
$table-border: #e8eaeb;
