@import '../../styles/main.scss';

.grid-table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .grid-table {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;

    ul.gt-head,
    ul.gt-body {
      display: flex;
      list-style: none;
      min-width: 960px;
      width: 60%;
      border: 2px solid $table-border;
      margin: 0;
      padding: 0;
    }

    ul.gt-head {
      border-bottom: none;
      border-radius: 5px 5px 0 0;
      justify-content: space-between;
      background-color: $table-shadow;

      font-weight: 600;
      font-size: 13px;
      padding: 12px 0;

      > li {
        text-align: center;
        &:first-child {
          padding-left: 16px;
        }
        &:last-child {
          padding-right: 16px;
        }
      }
    }

    ul.gt-body {
      border-radius: 0 0 5px 5px;
      flex-direction: column;

      &.show-border {
        .pattern-row {
          border-right: 2px dashed rgba(231, 238, 227, 0.69);
        }
      }

      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $table-border;
        height: 60px;
        padding: 5px 0;

        &:last-child {
          border-bottom: none;
        }

        > div {
          &:first-child {
            padding-left: 24px;
          }
          &:last-child {
            padding-right: 24px;
          }
        }

        .gt-cell {
          .pattern-row {
            width: 600px;
            overflow-x: scroll;

            > div {
              min-width: 12px;
              max-width: 12px;
              height: 12px;
              line-height: 12px;
              padding: 13px;
              text-align: center;
              border: 2px solid $green-pastel;
              font-weight: 500;
              border-radius: 50%;
              transition: ease 0.1s all;
              cursor: default;

              &:hover {
                background-color: rgb(239, 241, 236);
                transform: scale(1.08);
              }
            }

            &.disabled {
              display: none;
            }
          }

          // Scroll bar
          ::-webkit-scrollbar {
            width: 7px;
            height: 7px;
          }
          ::-webkit-scrollbar-thumb {
            background: $dark-green-pastel;
            border-radius: 0px;
          }
          ::-webkit-scrollbar-thumb:hover {
            background: #c8ece1;
          }
          ::-webkit-scrollbar-track {
            background: transparent;
          }
        }
      }
    }

    .arguments-row,
    .pattern-row {
      display: flex;

      > div {
        margin: 0.5rem;
        transition: all 0.2s ease;
      }
    }

    .sum-arguments {
      .btns {
        display: inline;
      }
    }

    // Copied stlyes
    .fa-copy {
      font-size: 19px;
      transition: 0.2s ease all;
      cursor: pointer;

      &.right {
        margin-left: 20px;
      }
      &.left {
        margin-right: 20px;
      }

      &:hover {
        transform: scale(1.25);
        color: rgb(66, 45, 102);
      }
    }
    .selected {
      background-color: rgba(75, 68, 112, 0.4);
      border-radius: 50%;
      padding: 7px;
      font-weight: 500;
      margin-left: 10px !important;
    }
    .copied-text {
      color: rgba(75, 68, 112, 0.82);
      border: 2px dashed rgba(75, 68, 112, 0.4);
      border-radius: 6px !important;
      font-size: 17px;
      padding: 2px 20px;

      &.left {
        margin-left: 18px;
      }
      &.right {
        margin-right: 18px;
      }
    }
  }
}

// Paginator
.paginator {
  margin-top: 18px;
  display: flex;
  ul {
    text-align: center;
    display: inline-block;
    padding: 0;
  }

  li {
    display: inline-block;

    font-size: 1.2rem;

    a {
      display: inline-block;
      color: $dark-green-pastel;
      cursor: pointer;
      text-align: center;
      line-height: 20px;
      width: 20px;
      height: 20px;
      padding: 10px;
      margin: 0.5rem;
      border-radius: 50%;

      &:hover {
        background-color: $dark-green-pastel;
        color: rgb(43, 42, 42);
      }
    }

    &.next,
    &.previous {
      a {
        border: 2px solid $green-pastel;
        border-radius: 50%;
        color: $dark-green-pastel;

        &:hover {
          background-color: rgb(239, 241, 243);
        }
      }
    }
  }
  li.selected a {
    background-color: $dark-green-pastel;
    color: rgb(43, 42, 42);
    font-weight: 500;
  }
}

.border-icon {
  color: rgb(64, 73, 57);
  margin-left: 10px;
  transition: all ease 0.18s;
  cursor: pointer;

  &:hover {
    color: rgb(126, 153, 106);
    transform: scale(1.08);
  }
}

@media screen and (max-width: 767px) {
  .inputFields,
  .grid-table ul.gt-head,
  .grid-table ul.gt-body {
    min-width: 0 !important;
  }
  .grid-table-container {
    .grid-table {
      min-width: 90%;
    }

    .gt-head {
      font-size: 12px !important;

      li {
        height: 23px !important;

        &:first-child {
          padding-left: 24px !important;
        }
        &:last-child {
          padding-right: 24px !important;
        }

        .text-1 {
          opacity: 0;
        }

        i {
          &.left {
            margin-right: 10px !important;
          }
          &.right {
            margin-left: 10px !important;
          }
          transform: scale(0.8);

          &:hover {
            transform: scale(0.85) !important;
          }
        }
      }
    }

    .grid-table ul.gt-head,
    .grid-table ul.gt-body {
      width: 100%;

      li {
        height: 45px;
        .gt-cell {
        }
      }
    }

    .arguments-row {
      font-size: 14px;
      margin-bottom: 6px;
    }

    .pattern-row {
      width: 258px !important;

      > div {
        padding: 8px !important;
        margin: 0.2rem !important;
        margin-bottom: 4px !important;

        &:hover {
          background-color: rgb(239, 241, 236);
          transform: scale(1.08);
        }
      }
    }
  }

  .paginator {
    transform: scale(0.8);
    margin-top: 0;
  }
}
